body {
  padding-top: 64px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.detailPanel {
    margin-top: 45px;
}

.maxForApp {
   max-width:1400px;
}
.brandlogo {
    margin-top:8px;
}

.qbImg {
    padding:5px;
}

.chartContainer {
    margin-top:30px;
}

.helpmsg {
    margin-top:30px;
}