<div ng-controller="QBPerformanceCtrl as qbperf">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <ol ng-model="qbperf.selections.QB" ng-change='qbperf.changeQB(qbperf.selections.QB)' class="nya-bs-select" title="Select a QB">
                        <li nya-bs-option="o in qbperf.options.qbs">
                            <a>
                                {{ o }}
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="form-group">
                    <ol ng-model="qbperf.selections.selectedDef" ng-change='qbperf.changeChart(qbperf.selections.selectedDef.key)'
                        class="nya-bs-select" title="Select Chart type">
                        <li nya-bs-option="o in qbperf.options.charts">
                            <a>
                                {{ o.label }}
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="form-group" ng-show="!qbperf.selections.selectedDef.isSummaryDef">
                    <ol ng-model="qbperf.selections.year" ng-change='qbperf.changeYear(qbperf.selections.year)' class="nya-bs-select" title="Select Year">
                        <li nya-bs-option="o in qbperf.options.years">
                            <a>
                                {{ o }}
                            </a>
                        </li>
                    </ol>
                </div>

            </form>
        </div>
    </div>
    
    <div class="row" ng-show="!qbperf.selections.QB">
        <!--todo: just offset or whatever-->
        <div class="col-sm-8 col-sm-offset-3">
            <div class="alert alert-info helpmsg" role="alert"><h4>Getting Started</h4> Select a quarterback from the dropdown to get started.</div>
        </div>
    </div>
    <div class="row" ng-show="qbperf.selections.QB">
        <div class="col-sm-3">
                <img class="img-responsive img-circle center-block hidden-xs qbImg"
                     ng-src="{{qbperf.data.fullDS.qbImgSrc || ''}}" alt="{{ qbperf.selections.QB }}" />

            <div >
                <table class="table table-responsive table-condensed ">
                    <thead>
                        <tr>
                            <th uib-tooltip="{{ header.name }}" tooltip-append-to-body="true" 
                                ng-if="qbperf.showColumn($index, qbperf.data.summaryDS)" 
                                ng-repeat="header in qbperf.data.summaryDS.header track by $index">
                                {{ header.label }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="row in qbperf.data.summaryDS.rows" ng-class="{'active':qbperf.selections.year == row[0]}">
                            <td class="text-center" ng-if="qbperf.showColumn($index, qbperf.data.summaryDS)"
                                 ng-repeat="cell in row track by $index">
                                {{ cell }}
                            </td>
                        </tr>
                    </tbody>                 
                </table>
                 
            </div>
        </div>
        <div ng-class="qbperf.selections.selectedDef.isSummaryDef ? 'col-sm-4' : 'col-sm-9'">
            <div class="chartContainer">
                <nvd3 options="qbperf.chart.options" data="qbperf.chart.data" api="qbperf.chart.api"></nvd3>
            </div>
        </div>
        <div class="col-sm-4" ng-show="qbperf.selections.selectedDef.isSummaryDef">
            <div class="chartContainer">
                <nvd3 options="qbperf.chartSecondary.options" data="qbperf.chartSecondary.data" api="qbperf.chartSecondary.api"></nvd3>
            </div>
        </div>
    </div>
    <div class="row" ng-show="qbperf.selections.selectedDef.dataType == 'weekly'">
        <div class="col-sm-6">
            <h4 >Weekly Summary</h4>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th uib-tooltip="{{ header.name }}" tooltip-append-to-body="true" ng-if="qbperf.showColumn($index, qbperf.data.yearDS)"  ng-repeat="header in qbperf.data.yearDS.header track by $index">
                            {{ header.label }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="row in qbperf.data.yearDS.rows" ng-click="qbperf.selectWeek(row)" ng-class="{'active':qbperf.selections.selectedWeek == row}">
                        <td ng-if="qbperf.showColumn($index, qbperf.data.yearDS)" ng-repeat="cell in row track by $index">
                            {{ cell }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="detailPanel center-block" ng-show="!qbperf.selections.weekDetails">
                <!--todo:tidy up-->
                <h4 class="text-center">Select a week from summary table to view details</h4>
            </div>
            <div class="panel panel-default detailPanel center-block" ng-show="qbperf.selections.weekDetails">
                <!-- Default panel contents -->
                <div class="panel-heading clearfix">
                    <div class="col-sm-2">
                        <img class="img-responsive img-circle center-block" ng-src="{{qbperf.selections.weekDetails.teamImage || ''}}" alt="" />
                    </div>
                    <div class="col-sm-8 text-center">
                        <h4>{{qbperf.selections.weekDetails.qbName}}</h4>
                        {{qbperf.selections.weekDetails.gameDateString}}
                    </div>
                    <div class="col-sm-2">
                        <img class="img-responsive img-circle  center-block" ng-src="{{ qbperf.selections.weekDetails.opponentImage || ''}}" alt="" />
                    </div>
                    
                </div>
                
                <dl class="dl-horizontal">
                        <dt ng-repeat-start="(key, val) in qbperf.selections.weekDetails.data">{{ key }}</dt>
                        <dd ng-repeat-end>{{ val }}</dd>
                </dl>
                <!-- Table 
                <table class="table">
                    ...
                </table>-->
            </div>
        </div>

    </div>

    

</div>