<div ng-controller="QBPerformanceCtrl as qbperf">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="qbSelect">QB to review:</label>
                    <select id="qbSelect" ng-model="qbperf.model.selectedQB" ng-options="o as o for o in qbperf.qbOptions"
                            ng-change='qbperf.changeQB(qbperf.model.selectedQB)'></select>
                </div>
                <div class="form-group">
                    <label >year:</label>
                    <select ng-model="qbperf.model.selectedYear" ng-options="o as o for o in qbperf.yearOptions"
                            ng-change='qbperf.changeYear(qbperf.model.selectedYear)'></select>
                </div>
                <div class="form-group">
                    <label>Chart Type:</label>
                    <select ng-model="qbperf.model.selectedType" ng-options="o as o for o in qbperf.chartOptions"></select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive img-circle" ng-src="{{qbperf.qbImgSrc || ''}}" alt="{{ qbperf.model.selectedQB }}"/>
            <div ng-if="qbperf.model.selectedQB">
                <table class="table table-responsive table-condensed table-hover">
                    <thead>
                        <tr>
                            <!--todo: obviously clean this index stuff up to be a proper object-->
                            <th ng-repeat="header in qbperf.summary.header track by $index">
                                {{ header.label }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in qbperf.summary.rows">
                            <td ng-repeat="cell in row track by $index">
                                {{ cell }}
                            </td>
                        </tr>
                    </tbody>                 
                </table>
                 
            </div>
        </div>
        <div class="col-sm-10">
            <nvd3 options="qbperf.chart.options" data="qbperf.chart.data" api="qbperf.chart.api"></nvd3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <!--todo: obviously clean this index stuff up to be a proper object-->
                        <th ng-if="$index == 4 || $index == 8 || $index > 9" ng-repeat="header in qbperf.headers track by $index">
                            {{ header.label }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in qbperf.gamesForYear">
                        <td ng-if="$index == 4 || $index == 8 || $index > 9" ng-repeat="cell in row track by $index">
                            {{ cell }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    

</div>